.element {
width:auto;
height: auto;
resize:both;
overflow:auto;
background-image: url("../Images/Background.png");
background-size: cover;
background-position: center;
background-attachment: local;
}
